@charset "UTF-8";
@import "fontawesome-icons/font-awesome.css";


/*** Global Font-Face ***/
@font-face {
    font-family: 'OpenSansRegular';
    src: url(typographic-fonts/OpenSans-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url(typographic-fonts/OpenSans-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url(typographic-fonts/OpenSans-Semibold.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'OpenSansItalic';
    src: url(typographic-fonts/OpenSans-Italic.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'OpenSansLight';
    src: url(typographic-fonts/OpenSans-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
}
.fregular {
    font-family: 'OpenSansRegular', Helvetica, sans-serif;
}
.fbold {
    font-family: 'OpenSansBold', Helvetica, sans-serif;
}
.fsemibold {
    font-family: 'OpenSansSemibold', Helvetica, sans-serif;
}
.fitalic {
    font-family: 'OpenSansItalic', Helvetica, sans-serif;
}
.flight {
    font-family: 'OpenSansLight', Helvetica, sans-serif;
}


/*** Global Styles **/
body {
    font-family: OpenSansRegular, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    background-color: rgba(191, 182, 172, 0.2);
    color: #585858;
}
body._bgi {
    background-image: url("../img/textura.png");
}
body > ._main-container, ._optimizedWidth {
    display: block;
    width: 1024px;
    margin: 0 auto;
}
body ._main-content {
    display: block;
    width: 705px;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6,
b, strong, th, label, optgroup {
    font-family: 'OpenSansSemibold', Helvetica, sans-serif;
    font-weight: normal;
}

em {
    font-family: 'OpenSansItalic', Helvetica, sans-serif;
}

a { text-decoration: none; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*** inputs: type text, number, date and all select ***/
input[type=text], input[type=number], input[type=password],
input[type=email], input[type=date], input[type=time], select, textarea {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 30px;
    padding: 4px 8px 4px; /*3px 8px 5px;*/
    color: inherit;
    border: 1px solid #d4d4d4;
    font-size: inherit;
    font-family: inherit;
}
textarea {
    height: auto;
    resize: vertical;
}
input[type=text]:hover, input[type=number]:hover, input[type=password]:hover,
input[type=date]:hover, input[type=time]:hover, select:hover, textarea:hover,
input[type=email]:hover, input[type=email]:focus,
input[type=text]:focus, input[type=number]:focus, input[type=password]:focus,
input[type=date]:focus, input[type=time]:focus, select:focus, textarea:focus {
    -webkit-box-shadow: inset 0 0 3px #d5d5d5;
    -moz-box-shadow: inset 0 0 3px #d5d5d5;
    box-shadow: inset 0 0 3px #d5d5d5;
}
input[type=text]:disabled, input[type=number]:disabled, input[type=password]:disabled,
input[type=date]:disabled, select:disabled, textarea:disabled, input[type=number]:read-only,
input[type=text]:read-only {
    background-color: #f9f9f9;
}
input[type=text]:read-only, input[type=text]:-moz-read-only {
    background-color: #f4f4f4;
}
select { padding: 3px 8px !important; }
input[type=date], input[type=time] { padding: 2px 2px 2px 8px !important; }
input[type=number] { padding-right: 2px !important; }

._selectCenter {
    -moz-text-align-last: center;
    text-align-last: center;
}
input[type=radio], input[type=checkbox] {
    vertical-align: -10%;
}


/*** elements outline focus style ***/
a[href]:not([tabindex='-1']):focus,
area[href]:not([tabindex='-1']):focus,
input:not([disabled]):not([tabindex='-1']):focus,
select:not([disabled]):not([tabindex='-1']):focus,
textarea:not([disabled]):not([tabindex='-1']):focus,
button:not([disabled]):not([tabindex='-1']):focus,
iframe:not([tabindex='-1']):focus,
[tabindex]:not([tabindex='-1']):focus,
[contentEditable=true]:not([tabindex='-1']):focus {
    /* your CSS for focusable elements goes here */
    outline: #90b6e4 auto 2px;
}


/*** buttons ***/
button, input[type=submit] {
    font-family: 'OpenSansSemibold', Helvetica, sans-serif;
    font-size: inherit;
    cursor: pointer;
    padding: 7px 10px 8px;
    background-color: #d8d8d8;
    color: inherit;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background-color .2s ease-out, background-image .2s ease-out;
    -moz-transition: background-color .2s ease-out, background-image .2s ease-out;
    -o-transition: background-color .2s ease-out, background-image .2s ease-out;
    transition: background-color .2s ease-out, background-image .2s ease-out;
}
button:hover, input[type=submit]:hover {
    background-color: #e1e1e1;
    /*color: #fff;*/
    /*border: 1px solid #fff;*/
}
button:active, input[type=submit]:active {
    padding: 8px 10px 7px;
}
button._btnDisabled, input[type=submit]._btnDisabled,
button._btnDisabled:hover, input[type=submit]._btnDisabled:hover {
    opacity: 0.5;
    background-color: #d8d8d8;
    color: inherit;
    border: 1px solid #b2b2b2;
    cursor: default;
}
._gradientBtn {
    background-image: -webkit-linear-gradient(top, transparent, rgba(173, 173, 173, 0.2));
    background-image: -moz-linear-gradient(top, transparent, rgba(173, 173, 173, 0.2));
    background-image: -ms-linear-gradient(top, transparent, rgba(173, 173, 173, 0.2));
    background-image: -o-linear-gradient(top, transparent, rgba(173, 173, 173, 0.2));
}
._gradientBtn:hover, ._gradientBtn:active {
    background-image: none;
}
button.manage, input[type=submit].manage {
    font-family: 'OpenSansSemibold', Helvetica, sans-serif;
    background-color: #d8d1c7;
    color: inherit;
    border: 1px solid #bbb1aa;
}

._lnkbtn {
    font-family: 'SourceSansPro', Helvetica, sans-serif;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    color: inherit !important;
}
._thin-btn {
    font-family: 'OpenSansSemibold', Helvetica, sans-serif;
    display: inline-block;
    padding: 3px 15px 4px;
    border: 1px solid;
    -webkit-transition: box-shadow 0.3s, background-color 0.3s;
    -moz-transition: box-shadow 0.3s, background-color 0.3s;
    -ms-transition: box-shadow 0.3s, background-color 0.3s;
    -o-transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
._thin-btn:hover {
    -webkit-box-shadow: 0 0 7px rgba(181, 181, 181, 0.59);
    -moz-box-shadow: 0 0 7px rgba(181, 181, 181, 0.59);
    box-shadow: 0 0 7px rgba(181, 181, 181, 0.59);
}
._thin-btn:active {
    padding: 4px 15px 3px;
}
._btnUserLogin {
    padding: 4px 20px 5px;
    background-color: #d8986d;
    color: white;
    border: none;
}
._btnUserLogin:hover {
    background-color: #e09d72;
    -webkit-box-shadow: 0 0 10px -2px #7c7c7c;
    -moz-box-shadow: 0 0 10px -2px #7c7c7c;
    box-shadow: 0 0 10px -2px #7c7c7c;
}
._btnUserLogin:active {
    padding: 5px 20px 4px;
    -webkit-box-shadow: inset -1px -1px 2px #7c7c7c;
    -moz-box-shadow: inset -1px -1px 2px #7c7c7c;
    box-shadow: inset -1px -1px 2px #7c7c7c;
}
/*** end: buttons ***/


/* default links style */
._hyperlink {
    color: #167ac6;
    cursor: pointer;
}
._hyperlink:hover {
    text-decoration: underline;
}
._inherit-hover-link {
    color: inherit;
}
._inherit-hover-link:hover {
    color: #167ac6;
}


.clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden; /*not to interfere with inputs*/
}
._width100 { width: 100%; }
._width75 { width: 75%; }
._width50 { width: 50%; }
._floatNone { float: none; }
._floatLeft { float: left; }
._floatRight { float: right; }
._alignCenter { text-align: center; }
._alignLeft { text-align: left; }
._alignRight { text-align: right; }
._noSelect {
    -webkit-user-select: none; /* Chrome all, Safari all */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    -o-user-select: none; /* Opera */
    user-select: none;
}
._curPointer { cursor: pointer; }
._curDefault { cursor: default; }
._contBox {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}
._radius3px {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
._radius5px {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
._radius10px {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
._td-u:hover {
    text-decoration: underline;
}
._textNowrap {
    white-space: nowrap;
}
._lbl-mode {
    font-family: 'OpenSansSemibold', Helvetica, sans-serif;
    display: inline-block;
    cursor: default;
}
._main-blue-title {
    text-align: center;
    color: #4090de;
}
._formGrayShadow {
    -webkit-box-shadow: 0 1px 7px -3px;
    -moz-box-shadow: 0 1px 7px -3px;
    box-shadow: 0 1px 7px -3px;
}
.body-dark-bg {
    background-color: #c1c1c1;
}


/*** alerts messages ***/
.successAlert {
    background-color: #dcf1df;
    border-color: #bbdeca;
    color: #78b38b;
}
.errorAlert {
    background-color: #f9e4e4;
    border-color: #e4c0c0;
    color: #b96f6f;
}
.infoAlert {
    background-color: #e7f0f9;
    border-color: #9dbcdc;
    color: #71a8d8;
}
.warningAlert {
    background-color: #f1eee5;
    border-color: #d4d1c8;
    color: #c1b691;
}
.grayAlert {
    background-color: #f1f1f1;
    border-color: #dadada;
    color: #969696;
}


/************* ************ **************/
/************* *ICONS FONT* **************/
/************* ************ **************/
.i-user, .i-key {
    font-size: 18px;
    line-height: 20px;
    color: #b0b0b0;
}
.i-warning-item-status {
    color: #dcc775;
    font-size: 3em;
    line-height: 70px;
}