.insert-item--processing-gif {
    display: none;
    position: absolute;
    width: 140px;
    height: 20px;
    margin: 0 auto;
    top: 5px;
    left: 0;
    right: 0;
    background: transparent url(../img/loading.gif) no-repeat right center;
    z-index: 2;
}
.mastercn-insertitem-form--overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0.1;
    filter: alpha(Opacity=10);
    z-index: 10;
}


/*******************/
/*** main header ***/
/*******************/
.main-header {
    /*margin-top: 10px;*/
    padding: 10px 0;
}
.main-header .main-logo {
    /*padding: 15px;*/
}
.main-header .main-logo a,
.main-header .main-menu a {
    display: block;
    text-decoration: none;
}
.main-header .main-logo img {
    width: 175px;
    height: auto;
}
.main-logo > div,
.main-menu > div {
    display: inline-block;
}
.main-header .main-logo,
.main-header .main-menu {
    text-align: center;
}
.main-logo > div .slogan {
    font-size: 20px;
    color: #70a994;
}

.main-header .main-menu {
    margin: 20px 0;
}
.main-header .main-menu a {
    color: #9a6f4d;
    padding: 5px 15px;
    border-bottom: 2px solid transparent;
}
.main-header .main-menu a:hover {
    border-color: #af8053;
}
.main-header .main-menu a.active {
    border-color: #70a994;
}
.main-menu > div > div {
    float: left;
    margin-right: 70px;
}
.main-menu > div > div:last-child {
    margin-right: 0;
}


/*** no js mode ***/
.no-script{
    color: #fff;
    padding: 10px;
    width: 100%;
    background-color: #b05752;
    text-align: center;
    vertical-align: central;
}
.no-script a {
    color: #e6ffbc;
    border-bottom: 1px solid #edcd50;
}

/*** special header ***/
.div-special-header {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5px;
    margin: 0 auto 10px;
    background: #f4f4f4;
    border: 1px solid #dddddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px -4px;
    -moz-box-shadow: 0 0 10px -4px;
    box-shadow: 0 0 10px -4px;
}
.div-special-header .header-title {
    font-family: 'OpenSansSemibold', Helvetica, sans-serif;
    font-size: 15px;
}



/**************************/
/*** sesion del usuario ***/
/**************************/



/*******************/
/*** main footer ***/
/*******************/



/*****************/
/*** index.php ***/
/*****************/
.org_secciones{
   /* border: 1px solid;*/
    margin: 5px;
    padding: 25px 10px 15px;
    overflow: auto;
    border-radius: 3px;
    background: #af8053; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, lightgoldenrodyellow, #af8053); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, lightgoldenrodyellow, #af8053); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, lightgoldenrodyellow, #af8053); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, lightgoldenrodyellow, #af8053); /* Standard syntax */
}
.org_secciones h3{
    width: 50%;
    color: #70a994;
}
.org_secciones p{
    float: left;
    text-align: justify;
}
.org_secciones img{
    width: 130px;
    height: 130px;
    alignment: right;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;

}
.info{
    /*border:2px solid;*/
    overflow: auto;
    width: 70%;
    float:left;
    padding: 15px;
}

.organizacion-sesion{
    width: 100%;
}
.organizacion-sesion div {
    display: inline-block;
}
.sesion-usuario{
    padding-top: 200px;
    width: 25%;
}
.organizacion{
        width: 70%;


}
.sesion-usuario{
    justify-content: center;
}
.sesion-usuario form{
    margin: 10px;
}
aside{
    width: 20%;
    display: inline;
}
.galeria{
    width: 95%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( #70a994 , lightgoldenrodyellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #70a994, lightgoldenrodyellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #70a994, lightgoldenrodyellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #70a994 , lightgoldenrodyellow); /* Standard syntax */
    border-radius: 5px;
}

main{

    overflow: auto;

}


#contenedor-pie-de-pagina {
    width: 100%;
    font-size: 14px;
    background-color: #474747;
    color: white;
}
#div-pie-de-pagina {
    position: relative;
    display: table;
    width: 960px;
    height: auto;
    margin: 20px auto 0 auto;
    padding: 25px 15px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #eee;
}
#div-pie-de-pagina div:first-child {
    position: absolute;
    display: table-cell;
    float: left;
    min-height: 100px;
    width: 220px;
    top: 50%;
    transform: translateY(-50%);
}
#div-pie-de-pagina h4 {
    margin: 0;
}
#div-pie-de-pagina p {
    line-height: normal;
}
#div-pie-de-pagina div { /*todos los div de #pie-de-pagina excepto el div con id="copyright"*/
    display: inline-block;
    margin-right: 25px;
}
#div-pie-de-pagina div:nth-of-type(2) { /*selecciono el tercer div del #pie-de-pagina*/
    margin-right: 0 !important; /*forzar que el ultimo div(3) que no tenga margen*/
}
div#copyright { /*selecciono el ultimo div hijo del #pie-de-pagina*/
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    padding: 10px 0;
    color: #adadad;
}
/****************************/
/*** temas-de-interes.php ***/
/****************************/
