
/*******************/
/*** Main Header ***/
/*******************/
.main-header {
    margin-top: 10px;
}
.main-header .main-logo {
    padding: 15px;
}
.main-header .main-logo a,
.main-header .main-menu a {
    display: block;
    text-decoration: none;
}
.main-header .main-logo img {
    width: 200px;
    height: auto;
}
.main-logo > div,
.main-menu > div {
    display: inline-block;
}
.main-header .main-logo,
.main-header .main-menu {
    text-align: center;
}
.main-logo > div .slogan {
    font-size: 20px;
    color: #70a994;
}

.main-header .main-menu {
    margin: 20px 0;
}
.main-header .main-menu a {
    color: #9a6f4d;
    padding: 5px 15px;
    border-bottom: 2px solid transparent;
}
.main-header .main-menu a:hover {
    border-color: #af8053;
}
.main-header .main-menu a.active {
    border-color: #70a994;
}
.main-menu > div > div {
    float: left;
    margin-right: 70px;
}
.main-menu > div > div:last-child {
    margin-right: 0;
}


/*******************/
/*** Main Header ***/
/*******************/