@media only screen and (max-width: 1024px) {
    body > ._main-container {
        width: 100%;
    }

    .content-mainsection {
        margin: 0 0 30px;
    }

    .sesion-usuario .session-container,
    .div-articles-list {
        display: none;
    }
    .sesion-usuario .session-container.main {
        display: block;
    }
    .session-inside-menu, .session-inside-menu.active {
        display: block;
    }

    .organizacion-sesion .organizacion,
    #galeria-contenedor,
    body ._main-content {
        width: 90%;
        margin: 0 auto;
    }

    /*** index ***/
    .grupo-fotos div {
        width: 48%;
        margin-right: 4%;
    }
    .grupo-fotos div:nth-child(3n+0) {
        margin-right: 4%;
    }
    .grupo-fotos div:nth-child(2n+0) {
        margin-right: 0;
    }
    .grupo-fotos div img {
        height: 250px;
    }

    /*** articles ***/
    .div-articles-list.secondary-list {
        display: block;
        width: 80%;
        margin: 25px auto 0;
    }
}


@media only screen and (max-width: 960px) {
    .organizacion-sesion .organizacion,
    #galeria-contenedor,
    body ._main-content {
        width: 95%;
    }

    /* index */
    .grupo-fotos div img {
        height: 230px;
    }

    /* footer */
    footer .centered {
        display: block;
    }
    footer .centered > div {
        display: block;
        width: 100% !important;
        text-align: center;
        margin: 25px 0;
    }
    footer .centered .footer-logo img.logo {
        padding-top: 0;
    }

    /* log-in section */
    .main-container-login {
        width: 100%;
    }
}

@media only screen and (max-width: 860px) {
    /* index */
    .grupo-fotos div img {
        height: 200px;
    }
}

@media only screen and (max-width: 770px) {
    body._bgi > .main-header:after {
        height: 125%;
    }
    .organizacion-sesion .organizacion,
    #galeria-contenedor,
    body ._main-content {
        width: 98%;
        margin: 15px auto;
    }

    .div-main-menu, .session-inside-menu {
        background-color: #7d7d7d;
        color: #eaeaea;
    }
    .div-main-menu, .session-inside-menu {
        display: none;
    }
    #toggle-menu-and-login {
        display: block;
    }
    .div-main-menu.active, .session-inside-menu.active {
        display: block;
    }

    /* main menu */
    .div-main-menu .main-menu {
        margin: 0;
        text-align: left;
        border-bottom: 1px solid #717171;
    }
    .main-menu > div {
        display: block;
    }
    .main-menu > div > div {
        float: none;
        margin: 0;
    }
    .div-main-menu .main-menu a {
        color: inherit;
        border-bottom: 2px solid transparent;
        text-shadow: none;
        padding: 10px 15px;
    }
    .div-main-menu .main-menu a:hover {
        border-color: transparent;
        color: #e3e3e3;
        padding-left: 17px;
    }
    .div-main-menu .main-menu a h4,
    .div-main-menu .main-menu a p {
        display: inline-block;
    }
    .div-main-menu .main-menu a.active {
        border-color: transparent;
    }

    /* user login */
    .session-inside-menu {
        text-align: left;
    }
    .session-inside-menu .div-user-loggedin,
    .session-inside-menu .div-login-register {
        display: block;
        border-top: 1px solid #888888;
        margin: 0;
    }
    .div-user-loggedin > div {
        display: block;
        margin: 0;
    }
    .div-user-loggedin .user-controls {
        padding-left: 35px;
    }
    .div-user-loggedin .user-controls > div {
        float: none;
        margin: 0;
    }
    .div-user-loggedin .user-controls a {
        display: block;
        color: inherit;
        padding: 10px 0;
    }
    .div-user-loggedin .user-controls a:hover {
        text-decoration: none;
    }
    .div-user-loggedin .picture-names img {
        width: 20px;
        height: 20px;
    }

    .session-inside-menu .div-login-register,
    .session-inside-menu .list-login-register {
        display: block;
    }
    .list-login-register li {
        float: none;
        margin: 0;
    }
    .list-login-register li a {
        background-color: inherit;
        padding: 10px 15px;
    }
    .list-login-register li a:hover {
        padding-left: 17px;
    }

    /*** index ***/
    .organizacion-sesion .organizacion .info:not(.intro) {
        width: 70%;
    }
}


@media only screen and (max-width: 680px) {
    .organizacion-sesion .organizacion,
    #galeria-contenedor,
    body ._main-content {
        width: 99%;
    }

    /* index */
    .grupo-fotos div img {
        height: 180px;
    }
}


@media only screen and (max-width: 600px) {
    /* index */
    .grupo-fotos div img {
        height: 160px;
    }
}


/* Responsive Mobile Sizes */
@media only screen and (max-width: 575px) {
    /*** index ***/
    .organizacion-sesion .organizacion .org_secciones {
        float:none;
        width: 100%;
        font-size: 0;
    }
    .organizacion-sesion .organizacion .org_secciones .info {
        float: none;
        font-size: 14px;
    }
    .organizacion-sesion .organizacion .org_secciones .info,
    .organizacion-sesion .organizacion .org_secciones img {
        display: inline-block;
        vertical-align: middle;
    }
    .org_secciones img {
        width: 30%;
        margin: 0;
    }
    #galeria-contenedor .grupo-fotos  div img {
        width: 100%;
        height: auto;
    }

    /*** articles ***/
    .div-articles-list.secondary-list {
        width: 90%;
    }

    /* nuevo usuario */
    .nuevo-usuario-section > main {
        width: 90%;
    }
    form#frm-nuevo-usuario > div > div {
        width: 47%;
    }
    form#frm-nuevo-usuario > div > div:first-child {
        margin-right: 6%;
    }
}


@media only screen and (max-width: 480px) {
    .organizacion-sesion .organizacion,
    #galeria-contenedor,
    body ._main-content {
        width: 100%;
    }

    /* index */
    .grupo-fotos div {
        width: 80%;
        float: none;
        margin: 10px auto !important;
    }
    .grupo-fotos div img {
        height: 160px;
    }
    .grupo-fotos div:nth-child(3n+0) {
        margin-right: 0;
    }

    /* articles */
    .div-articles-list.secondary-list {
        width: 100%;
    }

    #div-comments-list .comment-second .user-picture,
    #div-comments-list .div-comment-replies .comment-second .user-picture,
    .article-comments .comment-form label,
    .article-comments .comentarios label {
        width: 30px;
    }
    .article-comments .comment-form label,
    .article-comments .comentarios label {
        position: relative;
        margin-right: 10px;
    }
    .article-comments .comment-form label:after,
    .article-comments .comentarios label:after {
        position: absolute;
        content: 'Ud.';
        left: 5px;
        bottom: -10px;
    }
    .article-comments .comment-form label > span,
    .article-comments .comentarios label > span {
        display: none;
    }
    #div-comments-list .comment-second .user-picture img,
    #div-comments-list .div-comment-replies .comment-second .user-picture img,
    .article-comments .comentarios label img {
        width: 30px;
        height: 30px;
    }
    #div-comments-list .comment-third,
    #div-comments-list .div-comment-replies .comment-third,
    .article-comments .comment-form .text-and-button,
    .article-comments .comentarios .text-and-button {
        width: calc(100% - 40px);
    }

    #div-comments-list .comment-form, #div-comments-list .div-comment-replies {
        padding-left: 40px;
    }

    #div-comments-list .comment-third .rate-reply a {
        margin-right: 10px;
    }
    #div-comments-list .rate-reply .actions a {
        margin-right: 5px !important;
    }

    .article-comments .comentarios button {
        margin-top: 3px;
    }
    .article-comments .comment-form .text-and-button button,
    .article-comments .edit-comment-container button,
    .article-comments .comentarios button {
        padding: 1px 2px;
    }
}


@media only screen and (max-width: 420px) {
    /* index */
    .organizacion-sesion .organizacion .org_secciones img {
        display: none;
    }
    .organizacion-sesion .organizacion .org_secciones .info {
        width: 100%;
    }

    /* articles */
    .div-share-article h4 {
        display: block;
        text-align: center;
    }
    .article-container .div-share-article {
        text-align: center;
    }

    /* nuevo usuario */
    form#frm-nuevo-usuario > div > div {
        width: 80%;
        display: block;
        margin: 0 auto !important;
    }
    form#frm-nuevo-usuario > div > div.user-email {
        border-bottom: 1px solid #d8d8d8;
    }
    form#frm-nuevo-usuario > div > div.user-username {
        padding-top: 10px;
        border-top: 1px solid #f3f3f3;
    }

    /* query message page */
    .query-message--container {
        width: 90%;
    }
}

@media only screen and (max-width: 320px) {
    /* log-in section */
    .frm-user-forgot-reset {
        width: 95%;
        padding: 15px 30px;
    }
    .main-container-login .fieldset-login-section {
        width: 95%;
    }
}

@media only screen and (max-width: 319px) {
    /* logo and slogan */
    .form--logo-slogan {
        width: 100%;
    }
    .sesion-usuario.session-page.main {
        width: 96%;
    }

    /* articles */
    #div-comments-list .comment-second .user-picture,
    #div-comments-list .div-comment-replies .comment-second .user-picture,
    .article-comments .comment-form label {
        display: none;
    }
    #div-comments-list .comment-third,
    #div-comments-list .div-comment-replies .comment-third,
    .article-comments .comment-form .text-and-button {
        width: 100%;
    }

    /* nuevo usuario */
    .nuevo-usuario-section > main {
        width: 100%;
    }
}