@media only screen and (max-width: 1024px) {
    body > ._main-container {
        width: 100%;
    }

    .content-mainsection {
        margin: 0 0 30px;
    }

    .sesion-usuario .session-container,
    .div-articles-list {
        display: none;
    }
    .session-inside-menu, .session-inside-menu.active {
        display: block;
    }

    .organizacion-sesion .organizacion,
    #galeria-contenedor,
    body ._main-content {
        width: 90%;
        margin: 0 auto;
    }

    /*** index ***/
    .grupo-fotos div {
        width: 48%;
        margin-right: 4%;
    }
    .grupo-fotos div:nth-child(3n+0) {
        margin-right: 4%;
    }
    .grupo-fotos div:nth-child(2n+0) {
        margin-right: 0;
    }
    .grupo-fotos div img {
        height: 250px;
    }

    /*** articles ***/
    .div-articles-list.secondary-list {
        display: block;
        width: 80%;
        margin: 25px auto 0;
    }
}


@media only screen and (max-width: 960px) {
    .organizacion-sesion .organizacion,
    #galeria-contenedor,
    body ._main-content {
        width: 95%;
    }

    /* index */
    .grupo-fotos div img {
        height: 230px;
    }

    /* footer */
    footer .centered {
        display: block;
    }
    footer .centered > div {
        display: block;
        width: 100% !important;
        text-align: center;
        margin: 25px 0;
    }
    footer .centered .footer-logo img.logo {
        padding-top: 0;
    }
}

@media only screen and (max-width: 860px) {
    /* index */
    .grupo-fotos div img {
        height: 200px;
    }
}

@media only screen and (max-width: 770px) {
    body._bgi > .main-header:after {
        height: 125%;
    }
    .organizacion-sesion .organizacion,
    #galeria-contenedor,
    body ._main-content {
        width: 98%;
        margin: 15px auto;
    }

    .div-main-menu, .session-inside-menu {
        background-color: #7d7d7d;
        color: #eaeaea;
    }
    .div-main-menu, .session-inside-menu {
        display: none;
    }
    #toggle-menu-and-login {
        display: block;
    }
    .div-main-menu.active, .session-inside-menu.active {
        display: block;
    }

    /* main menu */
    .div-main-menu .main-menu {
        margin: 0;
        text-align: left;
        border-bottom: 1px solid #717171;
    }
    .main-menu > div {
        display: block;
    }
    .main-menu > div > div {
        float: none;
        margin: 0;
    }
    .div-main-menu .main-menu a {
        color: inherit;
        border-bottom: 2px solid transparent;
        text-shadow: none;
        padding: 10px 15px;
    }
    .div-main-menu .main-menu a:hover {
        border-color: transparent;
        color: #e3e3e3;
        padding-left: 17px;
    }
    .div-main-menu .main-menu a h4,
    .div-main-menu .main-menu a p {
        display: inline-block;
    }
    .div-main-menu .main-menu a.active {
        border-color: transparent;
    }

    /* user login */
    .session-inside-menu {
        text-align: left;
    }
    .session-inside-menu .div-user-loggedin,
    .session-inside-menu .div-login-register {
        display: block;
        border-top: 1px solid #888888;
        margin: 0;
    }
    .div-user-loggedin > div {
        display: block;
        margin: 0;
    }
    .div-user-loggedin .user-controls {
        padding-left: 35px;
    }
    .div-user-loggedin .user-controls > div {
        float: none;
        margin: 0;
    }
    .div-user-loggedin .user-controls a {
        display: block;
        color: inherit;
        padding: 10px 0;
    }
    .div-user-loggedin .user-controls a:hover {
        text-decoration: none;
    }
    .div-user-loggedin .picture-names img {
        width: 20px;
        height: 20px;
    }

    .session-inside-menu .div-login-register,
    .session-inside-menu .list-login-register {
        display: block;
    }
    .list-login-register li {
        float: none;
        margin: 0;
    }
    .list-login-register li a {
        background-color: inherit;
        padding: 10px 15px;
    }
    .list-login-register li a:hover {
        padding-left: 17px;
    }

    /*** index ***/
    .organizacion-sesion .organizacion .info:not(.intro) {
        width: 70%;
    }
}


@media only screen and (max-width: 680px) {
    .organizacion-sesion .organizacion,
    #galeria-contenedor,
    body ._main-content {
        width: 99%;
    }

    /* index */
    .grupo-fotos div img {
        height: 180px;
    }
}


@media only screen and (max-width: 600px) {
    /* index */
    .grupo-fotos div img {
        height: 160px;
    }
}


/* Responsive Mobile Sizes */
@media only screen and (max-width: 575px) {
    /*** index ***/
    .organizacion-sesion .organizacion .org_secciones {
        float:none;
        width: 100%;
        font-size: 0;
    }
    .organizacion-sesion .organizacion .org_secciones .info {
        float: none;
        font-size: 14px;
    }
    .organizacion-sesion .organizacion .org_secciones .info,
    .organizacion-sesion .organizacion .org_secciones img {
        display: inline-block;
        vertical-align: middle;
    }
    .org_secciones img {
        width: 30%;
        margin: 0;
    }
    #galeria-contenedor .grupo-fotos  div img {
        width: 100%;
        height: auto;
    }

    /*** articles ***/
    .div-articles-list.secondary-list {
        width: 90%;
    }
}


@media only screen and (max-width: 480px) {
    .organizacion-sesion .organizacion,
    #galeria-contenedor,
    body ._main-content {
        width: 100%;
    }

    /* index */
    .grupo-fotos div {
        width: 80%;
        float: none;
        margin: 10px auto !important;
    }
    .grupo-fotos div img {
        height: 160px;
    }
    .grupo-fotos div:nth-child(3n+0) {
        margin-right: 0;
    }

    /* articles */
    .div-articles-list.secondary-list {
        width: 100%;
    }
}


@media only screen and (max-width: 420px) {
    .organizacion-sesion .organizacion .org_secciones img {
        display: none;
    }
    .organizacion-sesion .organizacion .org_secciones .info {
        width: 100%;
    }
}


@media only screen and (max-width: 750px) {

    /*Contactenos*/
    main .contacto-ubicacion{
        width: 100%;
        display: block;
    }
}