/**********************/
/*** Log In Section ***/
/**********************/
.main-container-login {
    width: 960px;
    margin: 15px auto;
    min-height: 450px;
}
.main-container-login input {
    height: 35px;
}
.main-container-login #login-events {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #b05752;
    margin-bottom: 15px;
}
.main-container-login .fieldset-login-section {
    display: block;
    width: 320px;
    margin: 0 auto 150px;
    border: 5px solid rgba(176, 176, 176, 0.1);
    background-color: #e4e4e4;
}
.fieldset-login-section legend {
    margin: 0 auto;
    text-align: center;
    padding: 5px 10px;
    background-color: #e4e4e4;
    border: 3px solid rgba(176, 176, 176, 0.1);
    color: #4c84bf;
}
.fieldset-login-section form {
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    background-color: inherit;
}
.main-container-login #errors-login-form {
    display: block;
    text-align: center;
    padding: 0 0 5px;
    color: #b05752;
}
.fieldset-login-section .login-form--user-name,
.fieldset-login-section .login-form--password {
    display: inline-block;
    position: relative;
}
.fieldset-login-section .login-form--user-name span,
.fieldset-login-section .login-form--password span {
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
    height: 20px;
    margin-left: 5px;
    padding-right: 3px;
    border-right: 2px solid #bfbfbf;
    pointer-events: none;
}
.main-container-login .fieldset-login-section label {
    display: inline-block;
    float: left;
}
.main-container-login .fieldset-login-section span {
    display: inline-block;
}
.fieldset-login-section input {
    display: block;
    width: 300px;
    font-size: 16px;
    margin-bottom: 10px;
    color: inherit;
    padding-left: 44px;
    background-color: #fbfbfb;
}
.fieldset-login-section input:focus {
    background-color: #fff;
}
.fieldset-login-section input:not(:focus) {
    color: #808080;
}
.fieldset-login-section input:focus + span i {
    color: #9d9d9d;
}
.fieldset-login-section button {
    display: inline-block;
    margin: 10px auto 0 auto;
    padding: 5px 20px 6px;
}
.fieldset-login-section button:active {
    padding: 6px 20px 5px;
}

#missed-password--div-events {
    margin-top: 10px;
}
#missed-password--div-events a {
    font-size: 14px;
    color: #696969;
}

/*** Account Confirmation ***/
.account-confirmation--container {
    max-width: 500px;
    margin: 60px auto 0;
}

/*** Forgot Password ***/
.frm-user-forgot-reset {
    width: 280px;
    margin: 50px auto 0;
    padding: 10px 30px;
    background-color: #f6f6f6;
    -webkit-box-shadow: 0 1px 7px -3px;
    -moz-box-shadow: 0 1px 7px -3px;
    box-shadow: 0 1px 7px -3px;
}
.frm-user-forgot-reset .titles,
.frm-user-forgot-reset .div-user-icon {
    text-align: center;
}
.frm-user-forgot-reset .str-info {
    font-size: 14px;
    margin: 5px 0 -10px;
}
.frm-user-forgot-reset .div-user-icon > i {
    font-size: 100px;
    line-height: 90px;
    color: #b3b3b3;
}
.frm-user-forgot-reset .div-user-icon > i:before {
    line-height: 100px;
}
.frm-user-forgot-reset .div-fields > input {
    display: block;
    width: 100%;
    height: 30px;
}
.frm-user-forgot-reset button {
    display: block;
    margin: 15px auto 0;
    padding: 3px 15px 4px;
}
.frm-user-forgot-reset button:not(._btnDisabled):active {
    padding: 4px 15px 3px;
}



/************************************/
/*** Nuevo Usuario (new-user.php) ***/
/************************************/
.insert-new-item--div-container {
    margin-top: 30px;
}
.insert-new-item--div-container.nuevo-usuario {
    width: 800px;
    margin: 30px auto;
}
.nuevo-usuario-section > div,
.nuevo-usuario-section > main {
    float: left;
}
.nuevo-usuario-section > div {
    width: 270px;
    margin-right: 30px;
}
.nuevo-usuario-section > main {
    width: 500px;
}
.insert-new-item--div-container .back-to-index {
    padding: 10px 0;
    margin-bottom: 20px;
}
.insert-new-item--div-container .nuevo-usuario-section {
    margin-top: 50px;
}

/*fields*/
form#frm-nuevo-usuario > div {
    width: 100%;
    font-size: 0;
}
form#frm-nuevo-usuario > div > div {
    display: inline-block;
    width: 240px;
    vertical-align: top;
    font-size: 14px;
}
form#frm-nuevo-usuario > div > div:first-child {
    margin-right: 20px;
}
form#frm-nuevo-usuario input[type=text],
form#frm-nuevo-usuario input[type=email],
form#frm-nuevo-usuario input[type=password],
form#frm-nuevo-usuario select {
    width: 100%;
}
form#frm-nuevo-usuario span[id^=error-] {
    display: block;
    width: 100%;
    padding: 2px 0 5px;
    height: 25px;
    text-align: center;
    color: #bd665c;
}

form#frm-nuevo-usuario .button-section {
    position: relative;
    text-align: center;
}
form#frm-nuevo-usuario .button-section #divbtn-submit-usuario {
    background-color: #cde2d2;
    border-color: #bbcabe;
    width: auto;
    margin: 30px 0 0;
}
form#frm-nuevo-usuario .button-section #divbtn-submit-usuario:hover {
    background-color: #c4dac9;
    border-color: #9ebda5;
}